{% extends 'homepage.html' %} 
{% block title %}Покупка{% endblock %} 
{% block content %}
<style>
  .container {
    max-width: 800px;
    margin: 80px auto;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }

  h2 {
    color: #333;
  }

  .cart-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cart-item p {
    margin: 0;
  }

  .total-price {
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
  }



.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5555; 
  color: #ffffff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #ee0000; /*
}

.button strong {
  font-weight: bold;
}

.button a {
  text-decoration: none;
  color: inherit;
}

</style>

<div class="container">
  <h2>Спасибо за покупку!</h2>
  <ul>
    {% if user.username %} {% for key, value in request.session.cart.items %}
    <div class="cart-item">
      <p>Вы приобрели следующий товар: {{ value.name }}</p>
      <p>{{ value.price }} $</p>
    </div>
    {% endfor %} {% endif %}
  </ul>
  <p class="total-price">Общая стоимость: {{ total_price }} $</p>
  <button class="button">
    <a href="{% url 'limpiar_carrito' %}">
      <strong>Купить</strong>
    </a>
  </button>
  
</div>
{% endblock %}
