{% extends 'homepage.html' %}

{% block title %}{{manga.name}}{% endblock %}

{% block content %}
    <div id='store-body'>
        <div id='mangas-detail'> 

            <div id='mangas-detail-info1'>
                <h2>{{manga.name}}</h2>
                <p><strong>Оригинальное название:</strong> {{manga.original_name}}</p>
                <p><a href={% url 'imagen' manga.slug %}><img src='{{manga.image.url}}' width='400' height='600' alt='portada'/></a></p>
            </div>                

            <div id='mangas-detail-info2'>
                <p id='mangas-detail-info2-first'><strong>Описание:</strong> {{manga.description}}</p>
                
                <p id='gen'><strong>Жанр(ы):</strong> 
                    {% for genre in manga.genre.all %}
                        <a href={% url 'detalle_genero' genre.slug %}>{{genre}}</a> |
                    {% endfor %}
                </p>
                
                <p id='demo'><strong>Теги:</strong>
                    {% for demography in manga.demography.all %}
                        <a href={% url 'detalle_demografia' demography.slug %}>{{demography}}</a>
                    {% endfor %}
                </p>

                <p id='author'><strong>Автор:</strong> <a href={% url 'author' manga.author.slug %}>{{manga.author}}</a>.</p>
                <p><strong>Год:</strong> {{manga.year}}.</p>
                
                <p><strong>Состояние:</strong> 
                    
                    {% if manga.state %}
                        <span id='c'>В ходе выполнения.</span>
                    {% else %}
                        <span id='f'>Законченный.</span>
                    {% endif %}

                </p>
                
                <p><strong>Страна:</strong> {{manga.country}}.</p>
                <p><strong>Рекомендуемый возраст:</strong> {{manga.recommended_age}}.</p>
            </div>

            <div id='mangas-detail-info3'  style="height:23%">
                <p><strong>ЦЕНА: </strong> {{manga.price}}$.</p>
            </div>
            
        </div>

        {% comment %} <div id='add-cart-detail'><a target=_blank href="https://remanga.org/manga/mushoku_tensei_if_i_get_to_a_parallel_universe_ill_bring/32979?page=1"><strong>Читать</strong></a></div> {% endcomment %}
        <div id='add-cart-detail'><a href={% url 'agregar' manga.id %}><strong>Добавить в корзину</strong></a></div>
    </div>

{% endblock %}