<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Обложка тома</title>
    <style>
        body {
            background-color: black;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
        }

        img {
            object-fit: cover;
            max-width: 100%;
            max-height: 100%;
        }
    </style>
</head>
<body>
    <img src="{{image.image.url}}" alt="Обложка тома">
</body>
</html>
